# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pyz
*.pyzw
*.egg-info/
dist/
build/

# Environment
.venv/
env/

# IDE
.vscode/
.idea/

# Thread
./assistant_remember_thread_id.bat
./assistant_remember_thread_id.zsh

# Others
.DS_Store
